<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.syz.dao.ResourceMapper" >
  <resultMap id="BaseResultMap" type="com.syz.model.Resource" >
    <id column="resource_id" property="resourceId" jdbcType="INTEGER" />
    <result column="resource_name" property="resourceName" jdbcType="VARCHAR" />
    <result column="resource_crud" property="resourceCrud" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    resource_id, resource_name, resource_crud
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from resource
    where resource_id = #{resourceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from resource
    where resource_id = #{resourceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.syz.model.Resource" >
    insert into resource (resource_id, resource_name, resource_crud
      )
    values (#{resourceId,jdbcType=INTEGER}, #{resourceName,jdbcType=VARCHAR}, #{resourceCrud,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.syz.model.Resource" >
    insert into resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resourceId != null" >
        resource_id,
      </if>
      <if test="resourceName != null" >
        resource_name,
      </if>
      <if test="resourceCrud != null" >
        resource_crud,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resourceId != null" >
        #{resourceId,jdbcType=INTEGER},
      </if>
      <if test="resourceName != null" >
        #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resourceCrud != null" >
        #{resourceCrud,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.syz.model.Resource" >
    update resource
    <set >
      <if test="resourceName != null" >
        resource_name = #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resourceCrud != null" >
        resource_crud = #{resourceCrud,jdbcType=INTEGER},
      </if>
    </set>
    where resource_id = #{resourceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.syz.model.Resource" >
    update resource
    set resource_name = #{resourceName,jdbcType=VARCHAR},
      resource_crud = #{resourceCrud,jdbcType=INTEGER}
    where resource_id = #{resourceId,jdbcType=INTEGER}
  </update>
</mapper>